.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  height: 100%;
  width: 100%;
  max-width: var(--mantine-breakpoint-md);
  align-self: center;
  padding: var(--mantine-spacing-md) 0;
}
