.header {
  background-color: var(--mantine-color-red-9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color: var(--mantine-color-white);
  font-size: calc(var(--mantine-font-size-xl) * 5);
  text-transform: uppercase;
  text-shadow:
    -2px 2px 0 var(--mantine-color-black),
    -4px 4px 0 var(--mantine-color-black),
    -6px 6px 0 var(--mantine-color-black);
}

.header h1 span {
  color: var(--mantine-primary-color-4);
}

.nav {
  background-color: var(--mantine-color-black);
  width: 100%;
  text-transform: uppercase;
  display: flex;
  gap: var(--mantine-spacing-md);
  justify-content: center;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xl);
}

.nav a {
  color: var(--mantine-color-white);
}